body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blockBookingForm {
  padding: 2rem;
  background-color: white !important;
  border: 1px solid #eeeeee;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.blockBookingForm h2 {
  font-size: 1.2rem;
}